################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/MyPortfolio/FileContentIndex/316085ef-e74d-4590-a3da-7b77fd567679.vsidx
